<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Video Feed</title>
    <style>
        video, canvas, img {
            display: block;
            margin-top: 20px;
        }
        video,canvas {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Live Video Feed</h1>
    <video id="video" width="360" height="360" autoplay></video>
    <canvas id="canvas" width="360" height="360"></canvas>
    <img id="flippedImage" width="360" height="360">
    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const flippedImage = document.getElementById('flippedImage');
        const context = canvas.getContext('2d');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(err => {
                console.error('Error accessing the camera', err);
            });

            video.addEventListener('play', () => {
            const fps = 5; // Set desired frames per second
            const interval = 1000 / fps; // Calculate interval in milliseconds

            function draw() {
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const dataUrl = canvas.toDataURL('image/png');

                fetch('/upload', {
                    method: 'POST',
                    body: JSON.stringify({ image: dataUrl }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    flippedImage.src = data.flipped_image;
                })
                .catch(error => {
                    console.error('Error:', error);
                });

                setTimeout(draw, interval);
            }
            draw();
        });
    </script>
</body>
</html>
